@font-face {
  font-family: 'coffeedesign';
  src:url('../fonts/coffeedesign.eot');
  src:url('../fonts/coffeedesign.eot?#iefix') format('embedded-opentype'),
    url('../fonts/coffeedesign.ttf') format('truetype'),
    url('../fonts/coffeedesign.woff') format('woff'),
    url('../fonts/coffeedesign.svg#coffeedesign') format('svg');
  font-weight: normal;
  font-style: normal;
}