- var organizers = getCollection('organizers').toJSON()

- for organizer in organizers
  
  - var image = "images/" + organizer.image
  - var name = organizer.name
  - var bio = organizer.contentRendered

  .organizer
    .organizer-avatar
      .photo.sub-circle(style="background-image: url(#{image})")
        img(src= image)
    .organizer-info
      h3= name
      != bio
      .organizer-info-services
        - for (service in organizer.services)
          - var account = organizer.services[service]
          if account
            a.icon(href= "http://" + account)
              span.icon-glyph(class="sub-#{service}")