.avatar
  background url("../images/rob_lafeve.jpg")
  background-origin border-box
  background-size cover
  border-radius 500em
  border 1px solid rgba(black, 0.1)
  box-shadow 0 0 0 2px rgba(white, 0.1)
  width 75%
  margin 0 auto
  padding-top 75%