.background
  z-index -1
  position fixed
  top 0
  width 100%
  height 100%
  background-image radial-gradient(50% -50%, circle farthest-side, rgba(teal, 0.9) 40%, rgba(violet, 0.9) 95%)
  @media max-small
    min-height 640px