.event
  background white
  box-shadow 0 1px 4px rgba(black, 0.25)

  &.sub-primary
    text-align left
    @media (max-width: 59em)
      text-align center

  &.sub-secondary
    width unit(15)

    .event-content-photo
      display none !important

.event-header
  position relative
  padding unit(0.5)
  margin unit(1)
  text-align center
  background teal
  color white
  text-transform uppercase

  &:before
  &:after
    content ""
    display block
    position absolute
    border-width

.event-content 
  @extend $grid
  table-layout auto
  border-spacing unit(2)
  @media max-large
    border-spacing unit(1)

  > *
    @extend $vertical_spacing
    @media (max-width: 59em)
      display block

.event-content-photo
  line-height 0
  width 2*(100/7)%
  @media (max-width: 59em)
    width 100%
    .photo
      width 30%
      @media max-small
        width 50%

// .event-content-info

.event-date
  text-transform uppercase