.navigation
  display inline-table
  table-layout normal
  width auto
  border-spacing unit() 0
  text-transform uppercase

  > *
    display table-cell

  a
    text-decoration none
    color inherit

