.sponsors
  @extend $vertical_spacing

.sponsor
  @extend $transition.sub-fast
  display inline-block
  width 15em
  padding 1em
  opacity 0.25
  vertical-align middle
  &:hover
  &:active
    opacity 1

  img
    width 100%