section.layout-content-wrapper.sub-background#signup
  .layout-content
    h1.logo-text Coffee & Design
    img.logo-large(src= site.url + '/images/logo-coffeedesign-large.svg')
    p.sub_heading Connecting Designers in Kansas City
    form
      .form-fields
        .form-fields-field.sub-primary
          input.sub-white(type="email", placeholder="Your email address...")
        .form-fields-field
          input.sub-white(type="submit", value="Stay in touch")