footer.layout-footer
  .layout-footer-column
    p 
      | Made with <span class="heart">♥</span> in KC
      //- br
      //- small © 2014 Coffee & Design
  .layout-footer-column.sub-right
    p 
      | Built on <a href="https://docpad.org">DocPad</a> & GitHub 
      iframe(src="http://ghbtns.com/github-btn.html?user=roblafeve&repo=coffeedesign.org&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20")
      br
      small Imagery courtesy of <a href="http://join.deathtothestockphoto.com">Death to Stock Photography</a>