header.layout-header
  .layout-header-logo
    a(href="#home")
      img.logo(src= site.url + '/images/logo-coffeedesign.svg')
  .layout-header-nav
    nav.navigation
      a(href="#events") Events
      a(href="#about") About
      a(href="#sponsors") Sponsors
      a(href="#organizers") Organizers
      a(href="#contact") Contact