header.layout-header
  .layout-header-logo
    a(href="#home")
      img.logo(src='images/logo-coffeedesign.svg')
  .layout-header-nav
    nav.navigation
      a(href="#events") Events
      a(href="#about") About
      a(href="#sponsors") Sponsors
      a(href="#organizers") Organizers
      a(href="#contact") Contact
      a#nav-toggle.icon-glyph.sub-arrow-down(href="#")
nav.navigation.sub-mobile#navigation-mobile
  a(href="#events") Events
  a(href="#about") About
  a(href="#sponsors") Sponsors
  a(href="#organizers") Organizers
  a(href="#contact") Contact
