head
  title= document.title
  link(rel="icon", type="image/png", href= site.url +"/images/cd_favicon.png")
  meta(charset='utf-8')
  meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
  meta(content='initial-scale = 1.0, user-scalable = no, width = device-width, height = device-height', name='viewport')
  meta(content='yes', name='apple-mobile-web-app-capable')
  != getBlock('meta').toHTML()
  != getBlock("styles").add([ site.url + "/stylesheets/master.css", "http://fonts.googleapis.com/css?family=Montserrat:700|Merriweather:300italic|Lato"]).toHTML()