// NEUTRALS
white     = #FFFFFF
off-white = #FCFCFC
black     = #444444
gray      = #F6F6F6
gray-dark = #484D5F

// COLORS
teal      = #3FB5A4
violet    = #2E4599
red       = lighten(red, 30)

// Elements
nav-color = teal
