unit(multiplier = 1, unit = 1.5)
  (multiplier * unit)em

max-small  = "(max-width: " +  unit(24) + ")"
max-medium = "(max-width: " +  unit(35) + ")"
max-large  = "(max-width: " +  unit(50) + ")"

min-small  = "(min-width: " +  unit(24) + ")"
min-medium = "(min-width: " +  unit(35) + ")"
min-large  = "(min-width: " +  unit(50) + ")"