.layout-header

  // Stuff
  @extend $grid
  border-spacing unit(0.75)
  position fixed
  z-index 2
  overflow hidden
  height 5em

  // Background
  background white
  border-bottom 1px solid darken(white, 5)

  > *
    vertical-align middle

.layout-header-logo
  padding-bottom 0.7em
  width 13em

.layout-header-nav
  text-align right
  padding-top 0.2em