---
title: Coffee & Design
layout: default
isPage: true
---

section.layout-content-wrapper.sub-background#signup
  .layout-content
    h2.sub-heading Connecting Design Professionals in Kansas City
    form
      input(type="text")
      input(type="submit")
section.layout-content-wrapper#events
  .layout-content
    h2 Events
    p.heading-intro Coffee & Design is a monthly event set out to connect, grow, and inspire design professionals in Kansas City. 
    - for event in getCollection('events').toJSON()
      a(href=event.url, title=event.title)
        h2= event.title
        p= event.humanDate
section.layout-content-wrapper.sub-background#about
  .layout-content
    h2 About Us
    p.heading-intro Coffee & Design is a monthly event set out to connect, grow, and inspire design professionals in Kansas City. 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, esse, maxime, est placeat ab impedit eius porro laborum a odio non facilis omnis saepe voluptatum velit dolorum commodi numquam ipsum!
section.layout-content-wrapper#sponsors
  .layout-content
    h2 Sponsors
    p.heading-intro Coffee & Design wouldn't be able to happen as smoothly as it does without all the wonderful support.
    p If you're interested in sponsoring, please contact us!
section.layout-content-wrapper.sub-background#organizers
  .layout-content
    h2 Organiziers
    p.heading-intro The mugs behind the mug.
section.layout-content-wrapper#contact
  .layout-content
    h2 Contact Us
    p.heading-intro Direct any questions, suggestions, or feedback our way!
    p Don't forget to sign up for the newsletter to be the first to know about our events!
    form
      input(type="text")
      input(type="submit")