---
title: Coffee & Design
layout: default
isPage: true
---
.waypoint#events
section.layout-content-wrapper
  .layout-content
    h2 Events
    hr
    p.sub_heading Coffee & Design is a monthly event set out to connect, grow, and inspire design professionals in Kansas City. 
    - for event in getCollection('events').toJSON()
      a(href=site.url + event.url, title=event.title)
        h2= event.title
        p= event.humanDate
.waypoint#about        
section.layout-content-wrapper.sub-background
  .layout-content
    h2 About Us
    hr
    p.sub_heading Coffee & Design is a monthly event set out to connect, grow, and inspire design professionals in Kansas City. 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, esse, maxime, est placeat ab impedit eius porro laborum a odio non facilis omnis saepe voluptatum velit dolorum commodi numquam ipsum!
.waypoint#sponsors
section.layout-content-wrapper
  .layout-content
    h2 Sponsors
    hr
    p.sub_heading Coffee & Design wouldn't be able to happen as smoothly as it does without all the wonderful support.
    p If you're interested in sponsoring, please contact us!
.waypoint#organizers
section.layout-content-wrapper.sub-background
  .layout-content
    h2 Organiziers
    hr
    p.sub_heading The mugs behind the mug.
    .organizer
      .organizer-avatar
        img.avatar(src= site.url + "/images/kelly_tomlinson.jpg")
      .organizer-info
        h3 Kelly Tomlinson
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, tenetur, sapiente, cum, neque sunt harum qui nisi amet rerum voluptatibus dignissimos totam soluta excepturi voluptatem id nobis laborum vero nemo!
        p
          a.icon(href="http://twitter.com/kellytdesign")
            span.icon-glyph.sub-twitter
            span.icon-text @kellytdesign
    .organizer
      .organizer-avatar
        img.avatar(src= site.url + "/images/rob_lafeve.jpg")
      .organizer-info
        h3 Rob LaFeve
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, tenetur, sapiente, cum, neque sunt harum qui nisi amet rerum voluptatibus dignissimos totam soluta excepturi voluptatem id nobis laborum vero nemo!
        p
          a.icon(href="http://twitter.com/roblafeve")
            span.icon-glyph.sub-twitter
            span.icon-text @roblafeve
.waypoint#contact
section.layout-content-wrapper
  .layout-content.sub-wide
    h2 Contact Us
    hr
    p.sub_heading Direct any questions, suggestions, or feedback our way!
    .links
      .link
        a.icon(href="http://twitter.com/roblafeve")
          span.icon-glyph.sub-mail
          span.icon-text hello@coffeedesign.org
      .link
        a.icon(href="http://twitter.com/roblafeve")
          span.icon-glyph.sub-twitter
          span.icon-text @kcCoffeeDesign
      .link
        a.icon(href="http://twitter.com/roblafeve")
          span.icon-glyph.sub-facebook
          span.icon-text kcoffeedesign
    p Don't forget to sign up for the newsletter to be the first to know about our events!
    form
      .form-fields
        .form-fields-field.sub-primary
          input(type="email", placeholder="Your email address...")
        .form-fields-field
          input(type="submit")