---
title: Coffee & Design
layout: default
isPage: true
---
.waypoint#home
section.layout-content-wrapper.sub-background.sub-intro
  .layout-content
    img.logo-large(src="images/icon-coffeedesign.svg")
    h1.sub-title Connect. Inspire. Learn. Grow.
    p.sub_heading Coffee & Design is a free, monthly event to connect design professionals in Kansas City.
.waypoint#events
section.layout-content-wrapper
  .layout-content.sub-wide
    h2 Upcoming Events
    hr
    p.sub_heading 
      | A free event, the last Friday of every month, with coffee and breakfast. 
      br.sub-large
      | What a way to kick off your morning. 
    .layout-events
      include ../templates/event
.waypoint#about        
section.layout-content-wrapper.sub-background.sub-about
  .layout-content
    h2 About
    hr
    p.sub_heading Coffee & Design was born out of a desire to connect more designers in Kansas City.
    p Whether you're focused on branding, products, experiences, interfaces, identity, print, media, illustration, lettering, or anything in-between; Coffee & Design is aimed to connect you with like-minded designers to expand your network, be inspired by, and learn from one another.
.waypoint#sponsors
section.layout-content-wrapper
  .layout-content
    h2 A Huge Thanks
    hr
    p.sub_heading Coffee & Design doesn't happen without these fine folks.
    .sponsors
      include ../templates/sponsor
    p <a href="mailto:hello@coffeedesign.org?subject=Coffee%20%26%20Design%20—%20Sponsorship%20Inquiry">Be a Sponsor</a>
.waypoint#organizers
section.layout-content-wrapper.sub-background.sub-organizers
  .layout-content
    h2 Organizers
    hr
    p.sub_heading The mugs behind the mug.
    include ../templates/organizer
.waypoint#contact
section.layout-content-wrapper
  .layout-content.sub-wide
    h2 Let's Talk
    hr
    //- p.sub_heading Direct any questions, suggestions, or feedback <br class="sub-small"> our way!
    .links
      .link
        a.icon(href="mailto:hello@coffeedesign.org")
          span.icon-glyph.sub-mail
          span.icon-text hello@coffeedesign.org
      .link
        a.icon(href="http://twitter.com/kccoffeedesign")
          span.icon-glyph.sub-twitter
          span.icon-text @kcCoffeeDesign
      .link
        a.icon(href="https://www.facebook.com/pages/Coffee-Design/632654520119549")
          span.icon-glyph.sub-facebook
          span.icon-text Coffee-Design
    p Don't forget to sign up for the newsletter to be the first to know about our events!
    form#mc-embedded-subscribe-form.validate(action='http://coffeedesign.us3.list-manage1.com/subscribe/post?u=73a0928dffdd7ea5920f5069c&id=1a612aa5f1', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
      .form-fields
        .form-fields-field.sub-primary
          input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="Your email address...")
        #mce-responses.clear(style='display: none;')
          #mce-error-response.response(style='display: none;')
          #mce-success-response.response(style='display: none;')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px; display: none')
          input(type='text', name='b_73a0928dffdd7ea5920f5069c_1a612aa5f1', value='')
        .form-fields-field
          input#mc-embedded-subscribe.button(type='submit', value='Stay in touch', name='subscribe')