!!!
html(lang="en")
  include partial/head
  body
    .background
    include partial/header
    main.layout-site_content
      != content
    include partial/footer
    != getBlock('scripts').add(["vendor/jquery.js", "javascript/functions.js", "vendor/google_analytics.js"]).toHTML()