.links
  @extend $vertical_spacing
  @extend $grid.inline
  border-spacing unit(2) 0
  color violet
  @media (max-width: 770px)
    display block
    
.link
  @extend $vertical_spacing
  text-align center
  @media (max-width: 770px)
    display block